*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('rnshs.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.head {
    color: white;
    position: -ms-page;
    top: 6%;
    font-size: 25px;
}

.wrapper {
    width: 450px;
    background: rgba(255, 255, 255, 0.397);
    backdrop-filter: blur(10px);
    Color: black;
    border-radius: 10px;
    padding: 20px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper img { 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: -50px;
}

.wrapper .input-box {
    width: 100%;
    height: 50%;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    font-size: 16px;
    color:rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color:rgb(0, 0, 0)
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
   accent-color: black;
   margin-right: 3px;
}

.wrapper-forgot a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background:blue;
    border: none;
    outline: none;
    border-radius: 100px;
    box-shadow: 0 0 .1px;
    cursor: pointer;
    font-size: 20px;
    color:white;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}